p {
  font-family: roboto,arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  height: 1000px;
  padding-right: 24px;
}

.theme {
  background-color: white;
}